<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs To do list</title>
    <!-- fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer'
    />
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app">

        <header id="site_header">
            <img src="https://hiringplatform.boolean.careers/images/logo.png" alt="">
        </header>
        <!-- /#site_header -->

        <main id="site_main">
            <div class="container">

                <div class="todo_action">
                    <input type="text" placeholder="Nuovo To-do" class="shadow" v-model="newTask" @keyup.enter="addTask">
                    <button class="shadow" @click="addTask">Aggiungi</button>
                </div>
                <!-- /.todo_action -->

                <div class="todo_container_list shadow">
                    <div class="overflow">
                        <div class="todo_list" v-if="tasks.length > 0">
                            <div class="todo_item" v-for="(task, i) in tasks" :class="task.done === true ? 'todo_done' : '' ">
                                <div class="desc" @dblclick="doneChange(i)">
                                    {{task.text}}
                                </div>
                                <!-- /.desc -->
                                <div class="icons">
                                    <i class="fa-solid fa-circle-xmark" @click="removeTask(i)"></i>
                                </div>
                                <!-- /.icons -->
                            </div>
                            <!-- /.todo_item -->
                        </div>
                        <!-- /.todo_list -->
                    </div>
                    <!-- /.overflow -->

                    <div class="empty_list" v-else>
                        😊 non c'è niente da fare oggi!
                    </div>
                    <!-- /.empty_list -->


                </div>
                <!-- /.todo_container -->




            </div>
            <!-- /.container -->
        </main>
        <!-- /#site_main -->


    </div>
    <!-- /#app -->

    <!-- Vue2 js -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <!-- javascript -->
    <script src="./assets/js/app.js "></script>

</body>

</html>